## <summary>PHP-FPM policy</summary>
########################################
## <summary>
##	Allow a domain to perform as a PHP process with minimum privileges.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`php_base_webapp',`
	gen_require(`
		attribute php_domains;
		type php_t, php_config_t, php_log_t;
	')
	
	typeattribute $1 php_domains;
	domain_dyntrans_type( $1 )
	
	# Enforce no greater permissions on bounded domains
	typebounds php_t $1;
	
	# Allow transition
	allow php_t $1:process { setcurrent dyntransition };
	allow php_t sephp_php_t:process { setcurrent dyntransition };
	allow $1 self:process { setcurrent dyntransition };
	
	# target domains must be in system_r role
	role system_r types $1;
	
	allow $1 php_t:fd use;
	# no listen or bind
	allow $1 { php_t self }:stream_socket_class_set { create_socket_perms };
	allow $1 { php_t self }:dgram_socket_class_set { create_socket_perms };
	
	
	# !!!!! Read home directories !!!! @TODO
	userdom_manage_user_home_dirs( $1 )
	userdom_manage_user_home_content_files( $1 )
')
