## <summary>PHP-FPM policy</summary>
########################################
## <summary>
##	Allow a domain to perform as a PHP process with minimum privileges.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`php_base',`
	gen_require(`
		attribute php_domains;
		type php_t, php_exec_t;
	')
	
	# Allow transition done by setcon() in threads
	allow php_t $1:process { dyntransition };
	
	# Enforce no greater permissions on bounded domains
	typebounds php_t $1;
	
	# target domains must be in system_r role
	role system_r types $1;
')
