policy_module( php-fpm, 0.1 )

### Types, attributes
attribute php_domains;

type php_t;
domain_type( php_t )
domain_dyntrans_type( php_t )

type php_exec_t;
init_daemon_domain(php_t,php_exec_t)

type php_log_t;
logging_log_file( php_log_t )

type php_tmp_t;
files_tmp_file( php_tmp_t )

type sephp_php_t;
domain_type( sephp_php_t )
php_base( sephp_php_t )

### Rules
# Needed by setcon()
allow php_t self:process { setcurrent dyntransition };

# php_t must be in system_r role
role system_r types php_t;

# Log files
allow php_t php_log_t:file { read_file_perms append_file_perms };
allow php_t php_tmp_t:file manage_file_perms;
files_tmp_filetrans( php_t, php_tmp_t, file )
