policy_module( php-fpm, 0.1 )

### Types, attributes
attribute php_domains;

type php_t;
domain_type( php_t )
domain_dyntrans_type( php_t )
role system_r types php_t;

type php_exec_t;
init_daemon_domain( php_t, php_exec_t )

# Configuration files
type php_config_t;
files_type(php_config_t)

type php_log_t;
logging_log_file( php_log_t )

type php_tmp_t;
files_tmp_file( php_tmp_t )

type php_pid_t;
files_pid_file( php_pid_t )

### Local policies
typeattribute php_t php_domains;

# php_config_t config files
getattr_files_pattern( php_t, php_config_t, php_config_t )
read_files_pattern( php_t, php_config_t, php_config_t )
read_lnk_files_pattern( php_t, php_config_t, php_config_t )
list_dirs_pattern( php_t, php_config_t, php_config_t )

# Log files
allow php_t php_log_t:file { read_file_perms append_file_perms };

# Temp files
files_tmp_filetrans( php_t, php_tmp_t, file )

# pid file
manage_files_pattern(php_t, php_pid_t, php_pid_t)
files_pid_filetrans(php_t, php_pid_t, { file })
allow php_t php_pid_t:file unlink;

# Read etc_t files
files_read_etc_files( php_t )
miscfiles_read_localization( php_t )

# Process and capabilities
allow php_t self:process { setcurrent dyntransition signal sigkill };
allow php_t self:capability { kill setuid setgid };
allow php_t self:fd use;

# Kernel
kernel_read_kernel_sysctls( php_t )
# dev_read_sysfs( php_t )
# dev_read_rand( php_t )
dev_read_urand( php_t )
# dev_rw_crypto( php_t )
# allow php_t urandom_device_t:chr_file { read open };

# Networking
corenet_tcp_bind_all_nodes( php_t )
corenet_tcp_bind_all_unreserved_ports( php_t )
allow php_t self:stream_socket_class_set { create_stream_socket_perms };
allow php_t self:dgram_socket_class_set { create_socket_perms };
# corenet_tcp_connect_all_ports( php_t )
# allow php_t self:unix_dgram_socket { create_socket_perms sendto };
# allow php_t self:unix_stream_socket { create_stream_socket_perms connectto };
# allow php_t self:udp_socket create_socket_perms;



# Don't audit bin_t search
corecmd_dontaudit_search_bin( php_t )

# Read home directories
userdom_manage_user_home_dirs( php_t )
userdom_manage_user_home_content_files( php_t )

##### DEV STUFF
# execution of selix.so
userdom_dontaudit_exec_user_home_content_files( php_t )

type sephp_php_t;
domain_type( sephp_php_t )
php_base_webapp( sephp_php_t )
