# JetBrains
.idea/

# OS X
.DS_Store
.AppleDouble/
._*
*.bak

# SVN
.svn/

# TextMate project
*.tmproj

# Project
test/
policy/*.pp
policy/tmp/
selix/
mod_selinux/.deps
mod_selinux/.libs/
mod_selinux/mod_selinux.l*
mod_selinux/mod_selinux.o
mod_selinux/mod_selinux.slo
webroot/wordpress/
webroot/wordpress-3.2.1.tar.gz
webroot/magento/
webroot/magento-1.6.0.0.tar.bz2
webroot/magento-sample-data-1.2.0.tar.bz2
benchmark/traces/
webroot/benchmark/data/

# ionCube test script encoded which expires in 8 hours
webroot/tests/ioncube_encoded.php
