# JetBrains
.idea/

# OS X
.DS_Store
.AppleDouble/
._*
*.bak

# SVN
.svn/

# Project
test/
php5-selinux/.deps
php5-selinux/.libs/
php5-selinux/Makefile*
php5-selinux/acinclude.m4
php5-selinux/aclocal.m4
php5-selinux/autom4te.cache/
php5-selinux/build/
php5-selinux/config*
!php5-selinux/config.m4
!php5-selinux/config.w32
php5-selinux/install-sh
php5-selinux/libtool
php5-selinux/ltmain.sh
php5-selinux/missing
php5-selinux/mkinstalldirs
php5-selinux/modules/
php5-selinux/run-tests.php
php5-selinux/*.la
php5-selinux/*.lo

