# JetBrains
.idea/

# OS X
.DS_Store
.AppleDouble/
._*
*.bak

# SVN
.svn/

# Project
php5-sephp/.deps
php5-sephp/.libs/
php5-sephp/Makefile*
php5-sephp/acinclude.m4
php5-sephp/aclocal.m4
php5-sephp/autom4te.cache/
php5-sephp/build/
php5-sephp/config*
php5-sephp/install-sh
php5-sephp/libtool
php5-sephp/ltmain.sh
php5-sephp/missing
php5-sephp/mkinstalldirs
php5-sephp/modules/
php5-sephp/run-tests.php
php5-sephp/sephp.la
php5-sephp/sephp.lo
