## <summary>PHP-FPM policy</summary>
########################################
## <summary>
##	Allow a domain to perform as a PHP process with minimum privileges.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
# args: vhost_php_t - php_vhost_script_t - httpd_vhost_content_t - php_vhost_tmp_t
interface(`php_webapp',`
	gen_require(`
		attribute php_domains;
		type php_t, php_config_t, php_log_t;
		type $1, $2, $3, $4;
	')

	typeattribute $1 php_domains;
	typebounds php_t $1;
	role system_r types $1;

	# Process e capabilities
	allow php_t $1:process { dyntransition };
	allow $1 php_t:fd use;
	
	# Kernel
	dev_read_urand( $1 )
	dev_write_urand( $1 )
	# denied  { dir:search } name="20694" dev=proc sephp_php_t:s0 => php_t:s0
	allow $1 php_t:dir search;
	
	# Network
	# no connect, listen or bind
	# allow $1 self:stream_socket_class_set { rw_socket_perms };
	allow $1 php_t:stream_socket_class_set { rw_socket_perms }; # FPM
	# allow $1 self:dgram_socket_class_set { rw_socket_perms };
	allow $1 php_t:dgram_socket_class_set { rw_socket_perms }; # FPM
	
	# Log files
	allow $1 php_log_t:file { append_file_perms };
	logging_send_syslog_msg( $1 )
	logging_search_logs( $1 )

	# Temp files
	files_tmp_file( $4 )
	files_tmp_filetrans( $1, $4, file )
	allow { php_t $1 } $4:file { manage_file_perms };
		
	# Misc files
	miscfiles_read_fonts( php_t )
	miscfiles_read_certs( php_t )
	miscfiles_read_localization( php_t )
	
	# Search home directories (ASSUMING VHOSTS IN /home)
	userdom_search_user_home_content( { php_t $1 } )
	
	# Read php_vhost_script_t files and links
	read_files_pattern( { php_t $1 }, $3, $2 )
	read_lnk_files_pattern( { php_t $1 }, $3, $2 )

	# Read httpd_vhost_content_t (files and) links
	# read_files_pattern( { php_t $1 }, $3, $3 )
	read_lnk_files_pattern( { php_t $1 }, $3, $3 )
	
	# List httpd_vhost_content_t dirs
	# allow { php_t $1 } $3:dir list_dir_perms;
	
')
