## <summary>PHP-FPM policy</summary>
########################################
## <summary>
##	Allow a domain to perform as a PHP process with minimum privileges.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
# args: php_type - php_script_files_type - htttpd_files_type
interface(`php_webapp',`
	gen_require(`
		attribute php_domains;
		type php_t, php_config_t, php_log_t;
		type $1, $2, $3;
	')

	typeattribute $1 php_domains;
	role system_r types $1;
	
	# Enforce no greater permissions on bounded domains
	typebounds php_t $1;
	
	# Allow transition
	allow php_t $1:process { dyntransition };
	
	allow $1 php_t:fd use;
	# no connect, listen or bind
	allow $1 { php_t self }:stream_socket_class_set { rw_socket_perms };
	allow $1 { php_t self }:dgram_socket_class_set { rw_socket_perms };
	
	# Log
	logging_send_syslog_msg( php_t )
	
	# Misc files
	miscfiles_read_fonts( php_t )
	miscfiles_read_certs( php_t )
	miscfiles_read_localization( php_t )
	
	read_files_pattern( php_t, $3, $2 ) # parent needs equal or more permissions than bounded domain
	read_files_pattern( $1, $3, $2 )
')
